@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.product-list {
  display: flex;
  flex-wrap: wrap;
  background-color: black;
  justify-content: center;
  margin: 2rem;
}

.product {
  border-radius: 10px;
  height: 35rem;
  width: 20rem;
  padding: 2rem;
  margin-bottom: 2rem;
  position: relative;
  background-color: #1a1a1a;
  font-family: 'Orbitron', sans-serif;
  text-align: center;
  transition: box-shadow 0.3s;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  overflow: hidden;
}

.product:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.8);
  transition: 0.3s ease-in;
  cursor: pointer;
}

.product img {
  margin: 8rem;
  transform: scale(1.9);
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  vertical-align: middle;
}

.product-name {
  margin: 1rem;
  font-family: 'Orbitron', sans-serif;
  position: absolute;
  left: 0;
}

.product-info {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  margin-top: 27rem;
  align-items: center;
  width: 100%;
}

.type {
  position: absolute;
  margin-top: 25rem;
}

.wishlist-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: transparent;
  color: white;
  border: none;
  cursor: pointer;
  z-index: 2;
  width: 4rem;
}

.wishlist-button:hover {
  background-color: transparent;
}

.add-to-cart-button {
  position: inherit;
  background: #1a1a1a;
  color: white;
  width: 90%;
}

.add-to-cart-button:hover {
  background-color: white;
  color: black;
}

