/* src/components/ProductList/ProductList.css */

.product-list {
  background-color: black;
  margin-left: 2rem;
  margin-right: 2rem;
}

.product-list .ui.grid {
  margin: 0;
}

.product-list .ui.grid .column {
  display: flex;
  justify-content: center;
}

.product-list .ui.grid .column .product-card {
  width: 100%;
  max-width: 20rem; /* Ensure product cards don't exceed the max width */
}
