/* Cart.css */

/* Container for the entire cart page */
.cart-page {
    display: flex;
    flex-direction: column;
}

.cart-content {
    background-color: #1c1c1e;
    color: #f8f8f8;
    align-self: center;
    display: flex;
}

@media (max-width: 1200px) {
    .cart-content {
        flex-direction: column;
    }
}

.breadcrumbs {
    color: white;
}

/* Cart Title Styling */
.cart-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 3.5rem;
    color: #f8f8f8;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: flex-start;
}