@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.wishlist-container {
    margin-top: 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.wishlist-container h2 {
    font-size: 2rem;
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
}

.product-img-wishlist {
    height: 20rem;
    width: 20rem;
    object-fit: cover; /* Ensure the image covers the entire area */
    border-radius: 12px;
    display: block;
    margin: 2rem auto 0;
}

.wishlist-list {
    width: 100%;
    padding: 0;
}

.wishlist-item {
    background-color: #2a2a2a00;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
}

.wishlist-item h3 {
    color: gold;
}

.wishlist-item p {
    color: white !important;
}

.wishlist-item:hover {
    cursor: pointer;
    border: 1px solid #3a3a3a;
    color: white;
}

.clear-wishlist-btn {
    background-color: transparent !important;
    color: white !important;
    border: 2px solid white !important;
    border-radius: 8px !important;
    padding: 0.5rem 1rem !important;
    font-size: 1em;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 4rem !important;
}

.clear-wishlist-btn:hover {
    border-color: gold;
    color: gold;
}

.no-items-segment {
    background-color: #1a1a1a00 !important;
    color: white !important;
}

@media screen and (max-width: 768px) {
    .wishlist-container {
        padding: 1rem;
    }

    .wishlist-container h2 {
        font-size: 2rem;
    }

    .product-img-wishlist {
        max-width: 15rem;
        height: 15rem;
    }

    .wishlist-item {
        flex-direction: column; /* Stack content vertically on smaller screens */
        align-items: flex-start;
    }

    .wishlist-item img {
        margin-bottom: 1rem;
    }

}
