.sidebar-container {
  position: fixed;
  top: 0;
  left: 0; /* Align to the left side of the viewport */
  height: 101%;
  width: 220px;
  background-color: black;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar-container.active {
  transform: translateX(0);
}

.close-btn {
  background-color: transparent;
  width: 4rem;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  display: block;
  margin: 1rem;
}

.close-btn:hover {
  background-color: transparent;
}

.icon { 
  color: #4caf50;
  transition: color 0.3s ease;
}

.icon:hover {
  color: #236014;
}