@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: 'Orbitron', sans-serif;
}

.login-form {
  color: gold;
  text-align: left;
}

.login-form h2 {
  font-family: 'Orbitron', sans-serif;
  font-size: 4rem;
}

.form-group {
  text-transform: uppercase;
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 30rem;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
  font-weight: 500;
}

.form-group input {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 21px;
  font-family: 'Orbitron', sans-serif;
}

.login-btn {
  text-transform: uppercase !important;
  font-family: 'Orbitron', sans-serif !important;
  width: 55% !important;
  background-color: gold !important;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Orbitron', sans-serif;
}

.login-btn:hover {
  background-color: #4d8bd6;
}

.login-links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.login-links a {
  color: #60a2ea;
  text-decoration: none;
  font-weight: 500;
}

.login-links a:hover {
  text-decoration: underline;
}
