/* NavBar-specific styles */
.navbar {
  background-color: black;
  position: relative;
}

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding-top: 2rem;
}

.navbar-right {
  list-style: none;
  display: flex;
  align-items: center;
}

.navbar-right li {
  margin: 0 20px;
}

.navbar-right a {
  color: #4caf50;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-right: 2.3rem;
  font-size: 1.5rem;
}

.sidebar-icon, .cart-icon, .user-icon {
  color: #4caf50 !important;
  font-size: 2rem !important;
  width: 4rem;
  height: 4rem;
  margin-left: 2rem !important;
}

.sidebar-icon:hover, .cart-icon:hover, .user-icon:hover {
  color: #236014 !important;
  cursor: pointer;
}