/* AgeVerification.css */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.age-verification-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
  }
  
  .modal-content {
    background-color: black;
    padding: 30px;
    text-align: center;
    max-width: 400px;
    width: 100%;
  }
  
  .modal-content h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: white;
    font-family: 'Orbitron', sans-serif;
  }
  
  .modal-buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .modal-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    width: 120px;
    transition: background-color 0.3s ease;
    font-family: 'Orbitron', sans-serif;

  }
  
  .modal-buttons button:first-child {
    background-color: #28a745;
    color: white;
  }
  
  .modal-buttons button:first-child:hover {
    background-color: #218838;
  }
  
  .modal-buttons button:last-child {
    background-color: #dc3545;
    color: white;
  }
  
  .modal-buttons button:last-child:hover {
    background-color: #c82333;
  }

  .app-title {
    color: gold;
    font-size: 8rem;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
  }
  
  @media (max-width: 480px) {
    .modal-content {
      padding: 20px;
      max-width: 90%;
    }
  
    .modal-buttons {
      flex-direction: column;
    }
  
    .modal-buttons button {
      width: 100%;
      margin-bottom: 10px;
    }
  
    .modal-buttons button:last-child {
      margin-bottom: 0;
    }
  }
  