/* Cart Widget */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.cart-widget {
    position: fixed; /* Changed from absolute to fixed to keep it in place relative to the viewport */
    right: 1rem; /* Adjusted right position to ensure it is not too close to the edge */
    bottom: 2rem; /* Positioned at the bottom to avoid overlap with the sidebar */
    z-index: 1000; /* Ensure it appears above the content but below the sidebar */
    border-radius: 100px;
    transition: all 0.3s ease; /* Smooth transition for color changes */
}

.cart-button {
    width: 3rem;
    height: 3rem;
    border-radius: 1000px !important;
    background-color: gold !important;
    color: black !important;
    transition: color 0.3s ease; /* Smooth transition for text color change */
}

.cart-count {
    position: absolute;
    top: -3px;
    right: 1px;
    background-color: red;
    color: black;
    border-radius: 50%;
    padding: 2px 6px;
    font-size: 12px;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition for background and text color changes */
}

.cart-widget:hover .cart-button {
    color: red; /* Darker shade for button text when hovered */
}

.cart-widget:hover .cart-count {
    background-color: red; /* Darker background for count when hovered */
    color: #fff; /* Brighter text color for count when hovered */
}
