/* Cart Summary Styling */
.cart-summary {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    color: #f8f8f8;
    padding: 1.5rem !important;
    border-radius: 8px;
    margin-left: 5rem;
    margin-right: 0rem;
    width: 60rem !important;
}

/* Cart Summary Title Styling */
.cart-summary-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    margin-bottom: 1rem;
    text-align: left;
}

/* Summary Item Styling */
.summary-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #4a4a4c;
    padding: 0.5rem 0;
}

.item-left, .item-right {
    font-size: 1rem;
}

/* Total Summary Item */
.summary-item.total {
    font-weight: bold;
}

/* Checkout Button Styling */
.checkout-button {
    background-color: gold !important;
    color: black !important;
    align-self: center;
    width: 12rem;
}

@media (max-width: 1200px) {
    .cart-summary {
        width: 80% !important;
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .cart-summary {
        border-radius: 0;
    }

    .checkout-button {
        width: 100%;
    }
}
