@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
  background-color: #000000;
}

.header-left, .header-right {
  display: flex;
  align-items: center;
}

.header-left h1, .header-right h1 {
  margin: 0;
  font-size: clamp(1.5rem, 4vw, 4rem);
  color: #FFD700;
  font-family: 'Orbitron', sans-serif;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.header-left h1:hover, .header-right h1:hover {
  color: #b8860b;
}