@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.account-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: black;
    font-family: 'Orbitron', sans-serif;
    padding: 2rem;
    color: white;
    margin: 0 3rem;
}

.account-container h1 {
    font-family: 'Orbitron', sans-serif;
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 1rem;
    width: 100%;
    text-align: left;
}

.user-info {
    margin: 2rem 0;
    background-color: #1a1a1a;
    padding: 2rem;
    width: 100%;
    border-radius: 1rem;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}

.user-info .form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.user-info label {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    display: block;
}

.user-info input {
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Orbitron', sans-serif;
    border-radius: 12px;
    background-color: #9a9a9a;
    color: white;
    border: none;
    padding: 0.5rem;
}

.user-info input:disabled {
    background-color: #444;
    color: #ccc;
}

.logout-btn, .edit-btn, .save-btn, .cancel-btn {
    text-transform: uppercase;
    font-family: 'Orbitron', sans-serif;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s, color 0.3s;
    width: 48%;
}

.logout-btn:hover, .edit-btn:hover, .save-btn:hover, .cancel-btn:hover {
    border-color: gold;
    color: gold;
}

.edit-buttons, .user-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    .account-container {
        margin: 0 1rem;
        padding: 1rem;
    }

    .account-container h1 {
        font-size: 2rem;
    }

    .user-info {
        padding: 1rem;
    }

    .logout-btn, .edit-btn, .save-btn, .cancel-btn {
        width: 100%;
        margin-bottom: 1.5rem !important;
    }

    .edit-buttons, .user-buttons {
        flex-direction: column;
        align-items: center;
    }
}
