.product-container {
  background-color: #1a1a1a;
  padding: 2rem;
  border-radius: 12px;
}

.product-title {
  font-size: 2rem;
  font-family: 'Orbitron', sans-serif;
  color: white;
  text-align: left;
  border: 2px solid red;
  margin: 0;
}

.product-subtitle {
  border: 2px solid green;
  color: #9a9a9a;
  font-size: 1.6rem;
  font-family: 'Orbitron', sans-serif;
  text-align: left;
  margin-bottom: 2rem;

}

.product-details {
  border: 2px solid blue;
  text-align: left;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 2rem;
}

.product-img {
  border-radius: 12px;
  width: 100%;
  object-fit: cover;
  border: 2px solid pink;
}

.add-to-cart-btn, .wishlist-btn {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .product-title {
    font-size: 2rem;
  }
}
