@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.product-details {
  background-color: #1a1a1a;
  color: white;
  font-family: 'Orbitron', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: left;
  overflow: hidden;
}

.product-title {
  font-size: 8rem;
  margin: 2rem;
  font-family: 'Orbitron', sans-serif;
}

.product-image {
  transform: scale(8.5);
  border-radius: 10px;
  margin-top: 20rem;
  align-self: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.wishlist-btn {
  background: transparent !important;
  color: white !important;
  border: none !important;
  cursor: pointer !important;
  position: absolute !important;
  right: 0;
  margin-top: 5rem !important;
  margin-right: 8rem !important;
  transform: scale(2.5);
  z-index: 2;
  width: 4rem;
}

.wishlist-btn.in-wishlist {
  color: gold; /* Example color for items in the wishlist */
}

.add-to-cart-btn {
    position: inherit;
    bottom: 0;
    width: 15rem;
  background: #1a1a1a;
  color: white;
  border: 2px solid white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Orbitron', sans-serif;
  margin-top: 1rem;
  transition: background-color 0.3s, color 0.3s;
}

.add-to-cart-btn:hover {
  background-color: white;
  color: black;
}

.add-to-cart-btn.in-cart {
  background: white; /* Example color for items in the cart */
    color: black;
}

.add-to-cart-btn.in-cart:hover {
    background-color: black;
    color: white;
}
