@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.shop-header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('/public/background3.jpg');
    background-size: cover;
    background-position: center;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
    width: 97.7%;
    font-family: 'Orbitron', sans-serif;
    border: 1px solid white;
}

.products-title {
    color: white;
    text-align: left; /* Align the text to the left */
    font-family: 'Orbitron', sans-serif; /* Ensure consistent font usage */
    padding-top: 1em; /* Add padding to separate from the top */
    padding-left: 2em;
}
