@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.shop-container {
    padding: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.shop-header {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0)), url('/public/background3.jpg');
    background-size: cover;
    background-position: center;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
}

.products-title {
    text-transform: uppercase;
    color: white;
    width: 100%;
    margin-left: 6rem;
    text-align: left; /* Align the text to the left */
    font-family: 'Orbitron', sans-serif; /* Ensure consistent font usage */
}

@media (max-width: 768px) {
    .shop-container {
        padding: 10px;
    }

    .products-title {
        font-size: 1.5rem;
        text-align: left;
        width: 100%;
    }

    .button {
        padding: 8px 16px;
        font-size: 0.9rem;
    }
}
