@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

.shop-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: black;
}

.shop-header {
    width: 100%;
    background: url('/public/section1.jpg');
    background-size: cover;
    background-position: center;
}

.products-title {
    height: 15rem;
    text-transform: uppercase;
    color: #ffd700;;
    width: 100% !important;
    text-align: left !important; /* Align the text to the left */
    font-family: 'Orbitron', sans-serif; /* Ensure consistent font usage */
    font-size: clamp(48px, 4.5vw, 72px) !important;
    padding: 3rem;
}
